In [15]:
#Topic :List
# Q1: Create a list of 5 random numbers and print the list
numbers = [10, 25, 37, 42, 56]
print("Original List:", numbers)

# Q2: Insert 3 new values to the list and print the updated list
numbers.extend([77, 88, 99])
print("Updated List:", numbers)

# Q3: Use a for loop to print each element in the list
print("List elements:")
for num in numbers:
    print(num)

Original List: [10, 25, 37, 42, 56]
Updated List: [10, 25, 37, 42, 56, 77, 88, 99]
List elements:
10
25
37
42
56
77
88
99

In [17]:
#Topic: Dictionary
# Q1: Create a dictionary with keys 'name', 'age', and 'address'
person = {'name': 'John', 'age': 25, 'address': 'New York'}
print("Original Dictionary:", person)

# Q2: Add a new key-value pair 'phone'
person['phone'] = '1234567890'
print("Updated Dictionary:", person)

Original Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}
Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

In [19]:
#Topic: Set
# Q1: Create a set with values 1, 2, 3, 4, and 5
num_set = {1, 2, 3, 4, 5}
print("Original Set:", num_set)

# Q2: Add the value 6 to the set
num_set.add(6)
print("Set after adding 6:", num_set)

# Q3: Remove the value 3 from the set
num_set.discard(3)  # Using discard to avoid errors if 3 is not in the set
print("Set after removing 3:", num_set)

Original Set: {1, 2, 3, 4, 5}
Set after adding 6: {1, 2, 3, 4, 5, 6}
Set after removing 3: {1, 2, 4, 5, 6}

In [21]:
#Topic:Tuple
# Q1: Create a tuple with values 1, 2, 3, and 4
num_tuple = (1, 2, 3, 4)
print("Tuple:", num_tuple)

# Q2: Print the length of the tuple
print("Length of the tuple:", len(num_tuple))

Tuple: (1, 2, 3, 4)
Length of the tuple: 4